<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="empath-styles.html">
<link rel="import" href="empath-nav.html">

<dom-module id="empath-app">

  <template>

    <style include="empath-styles">

      :host {
        display: block;
      }

			#hey {
				text-align: center;
			}

			#profile-pic {
				display: block;
				margin: auto;
			}

    </style>

		<app-location route="{{route}}"></app-location>
		<app-route route="{{route}}" pattern="/:page" data="{{data}}"></app-route>

		<empath-nav></empath-nav>

		<iron-pages selected="{{data.page}}" attr-for-selected="page">
		  <section page="" class="text-page">
				<div id="content">
					<h1 id="hey">Hey there!</h1>
					<img id="profile-pic" src="/images/profile-pic.jpeg">
					<h2>I'm Shanti.</h2>
					<p>I like <a href="/linguistics.html" title="Linguistics">linguistics</a>, computer science, design, and generally being ridiculous.</p>
					<p>If you're creepy enough to want to stalk me, here's some of the places you can find me around the web:</p>
					<ul>
						<li><a title="Shanti de Ruyter on Facebook" href="https://www.facebook.com/shantithewriter">facebook</a></li>
						<li><a title="@shantithewriter's Tweets" href="https://twitter.com/shantithewriter">twitter</a></li>
						<li><a title="@shantithewriter on Instagram" href="https://www.instagram.com/shantithewriter/?hl=en">instagram</a></li>
						<li><a title="Shanti de Ruyter on Pinterest" href="www.pinterest.com/theempathephant">pinterest</a></li>
					</ul>
				</div>
			</section>
		  <section page="portfolio">
				<h1>Portfolio</h1>
			</section>
		  <section page="about">
				<h1>About</h1>
			</section>
		  <section page="contact">
				<h1>Contact</h1>
			</section>
		</iron-pages>



  </template>

  <script>
    class EmpathApp extends Polymer.Element {
      static get is() { return 'empath-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'empath-app'
          }
        };
      }
    }

    window.customElements.define(EmpathApp.is, EmpathApp);
  </script>
</dom-module>
